<h1>Burgers!</h1>

<h2>Burgers you want to try!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.triedYet}}
<button type="submit" class="subby" data-id="{{id}}" data-test="{{triedYet}}">{{this.name}}</button>
    {{/unless}}
  {{/each}}

</ul>

<h2>Burgers Tried!</h2>
<form class="create-form" action="/api/burgers" method="POST">
<ul>
  {{#each burgers}}
    {{#if triedYet}}
      {{> burgers/burger-block triedYet=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add the Burger You Want To Try!</h2>

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  

  <button type="submit">Add Burger!</button>
</form>
